html,body,#pano{margin:0;padding:0;height:100%}
body{font:1em/1.3em Helvetica,Arial,sans-serif}
#pano{z-index:0;width:100%}
.pano-meta{position:absolute;width:20em;height:5em;left:50%;bottom:1em;margin-left:-10em;background-color:rgba(0,0,0,0.4);padding:0;color:#fff;text-align:center;border:.07em rgba(0,0,0,0.5);border-radius:.2em;box-shadow:0 0 .8em rgba(0,0,0,0.5);z-index:1;vertical-align:middle;}
.pano-meta span{display:block}
.pano-meta p{position:relative;top:50%;height:4em;margin:-2em 1.2em 0 1.2em;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;cursor:default}
